*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------------General------------------------ */
.general-container{
    max-width: 1200px;
    margin: 0 auto;
}

/* ---------------------------Header-------------------------- */
.header-container{
    display: flex;
}

/* Header logo */
.header-logo{
    width: 100px;
}
.header-logo > img{
    width: 100%;
}

/* Header Title */


/* Header-Button */
.header-button{
    margin-left: auto;
}

/* ---------------------------------main------------------------------------- */
.main-container{
    background-color: #7fffd4;
    padding: 3rem 0;
}

#grid{
    margin: 0 auto;
    width: 800px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;;
}

#grid > article{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 10);
    border: 1px solid black;
}

#grid > article.active{
    background-color: ;
}