*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------------General------------------------ */
.general-container{
    max-width: 1200px;
    margin: 0 auto;
}

/* ---------------------------Header-------------------------- */
.header-container{
    display: flex;
}

/* Header logo */
.header-logo{
    width: 100px;
}
.header-logo > img{
    width: 100%;
}

/* Header Title */


/* Header-Button */
.header-button{
    margin-left: auto;
}

/* ---------------------------------main------------------------------------- */

#grid{
    width: 800px;
    height: 800px;
}